*{
    margin: 0;
    box-sizing: border-box;
    /* border: solid red 1px; */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
/*header*/

body{
    font-family: 'Roboto', sans-serif;
}

header div{
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: #222222;
    font-size: 1rem;
    align-items: center;
    padding: 1px 0px;
}
header div span{
    padding-left: 40px;
}
header div.idioma{
    padding-right: 30px;
    gap: 5px;
}

div.idioma a{
    color: white;
    text-decoration: none;
}
.navbar img{
    padding-left: 40px;
}


.navbar{
    background-color: #F0A83E;
    padding: 10px 0px;
    color: white;
}

.navbar a{
    color: white;
    text-decoration: none;
}
.navbar nav img{
    display: none;
}

header nav ul{
    display: flex;
    list-style-type: none;
    padding-right: 10px;
    padding-right: 30px;
    gap: 15px;
}

/*main sec bowl*/

section.bowl img{
    width: 100%;

}
section.bowl{
    position: relative;
}

.bowl div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 5%;
    bottom: 45%;
    gap: 10px;
}

span.placer{
    font-size: 2rem;
    color: #3C2313;
    background-color: white;
}
span.descuento{
    font-size: 1rem;
    color: #3C2313;
    background-color: white;
    padding: 1px;
}
span.comedero{
    font-size: 1rem;
    color: white;
    background-color: #F0A83E;
    padding: 5px;
}

/*main sec productos*/

section.productos{
    padding-top: 5%;
}
article.patita{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
article.patita img{
    padding: 10px;
}
article.patita h2{
    color: #3C2313;
    font-size: 2rem;
    padding: 5px;
}
article.patita div{
    font-size: 1rem;
}
article.patita div span{
    padding: 0px 20
    px;
}

/*main sec 3imagenes*/

article.card{
    width: 325px;
    height: 375px;
    background-color: #FBFAF6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
article.card h6{
    text-align: center;
    color: #3C2313;
    font-size: 1rem;
}
article.card p{
    text-align: center;
    color: #F0A83E;
    font-size: 1rem;
}
section.cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10%;
}

/*main sec contactanos*/

section.contactanos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F0A83E;
}

section.contactanos h3{
    font-size: 2rem;
    color: #3C2313;
    text-align: center;
    padding-bottom: 2%;
}

/* sec formularios*/
label{
    font-family: 'roboto';
}

input{
    background-color: #FBFAF6;
    width: 250px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 25PX;
    align-items: center;
    border: none;

}

div form input.botones{
    width: 125px;
    background-color: #3C2313;
    font-family: 'roboto';
    color: #FBFAF6;
    margin: 10px;          
}

/*sec sucribite*/

section.suscribite{
    background-color: #3C2313;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-size: 1.5rem;
    border: #F0A83E 1px solid;

}

.suscribite div.carta{
    display: flex;
    gap: 10px;
    align-items: center;
    padding-left: 2%;

}
.suscribite div.formulario{
    display: flex;
    gap: 10px;
    padding: 1% 2% 1% 0%;  
    
}

#suscribite{
    width: 125px; 
}

/*sec localidad*/
section.localidad{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3C2313;
    padding:0% 2% ;
    color: white;
}

section.localidad article>div{
    display: flex;
    padding: 5%0%;
}
/*footer*/

footer{
    background-color: black;
    color: white;
    font-size: 1rem;
    text-align: center;
}


    


















@media screen and (max-width: 800px){
    section.bowl div{
        position: absolute;
        bottom: 20%;
    }
    header nav ul{
        display: none;
    }
    .navbar nav img{
        display: inline-block
    }
    header span, header div.ofertas{
        display: none;
    }
    span.placer{
        font-size: 1.5rem;
    }
    .navbar{
        padding: 10px 10px;
    }
}